<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Passwords</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Password</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="password: ${passwords}">
                    <td th:text="${password.passwordId}"></td>
                    <td th:text="${password.passwordValue}"></td>
                    <td th:text="${password.description}"></td>
                    <td><a th:href="${'/passwords/delete/'+password.passwordId}">Delete</a></td>
                    <td><a th:href="${'/password?id='+password.passwordId}">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a href="/CreatePassword">Create new password</a>
        <a href="/MainPage">Go Back</a>
    </div>
</body>
</html>